.element__like {
  background-image: url(../../../images/element/__like/like.svg);
  width: 22px;
  height: 19px;
  margin-right: 15px;
  transition: all .3s ease-in-out;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__like:active {
  background-image: url(../../../images/element/__like/like__black.svg);
}