.popup__container {
  /*
  background-color: #fff;
  color: #000;
  width: 33.59375vw;
  max-width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: 330px;
  */
  background-color: #fff;
  color: #000;

  width: 88.125vw;
  max-width: 330px;
  border-radius: 10px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 620px) {
  .popup__container {
    max-width: 430px;
  }
}