.header__logo {
  padding: 8.75vw 0 9.875vw 8.4375vw;
}

@media (min-width: 321px) {
  .header__logo {
    padding: 28px 0 31.6px 27px;
  }
}

@media (min-width: 768px) {
  .header__logo {
    padding: 3.64583333vw 0 4.11458333vw;
  }
}

@media (min-width: 1024px) {
  .header__logo {
    padding: 45px 0 41px;
  }
}
