.profile__plus {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  margin: auto;
  background-position: center;
  background-image: url(../../../images/profile/__plus/button__plus-min.svg);
}

@media (min-width: 768px) {
  .profile__plus {
    width: 22px;
    height: 22px;
  }
}