.profile__rectangle {
  display: flex;
  align-self: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  transition: all .3s ease-in-out;
}

@media (min-width: 768px) {
  .profile__rectangle {
    width: 24px;
    height: 24px;
  }
}

.profile__rectangle:hover {
  opacity: 0.6;
  cursor: pointer;
}